---
import { getCollection } from "astro:content";
import BaseLayout from "@/layouts/Layout.astro";
import BlogPost from "@/components/BlogPost.astro";
import Link from "@/components/Link.astro";

const allPosts = await getCollection("blog", ({ data }) => {
  return data.draft !== true || import.meta.env.DEV;
});
const sortedPosts = allPosts.sort(
  (a, b) => b.data.publishDate.getTime() - a.data.publishDate.getTime()
);
---

<BaseLayout title={"Blog"}>
  <p class="pb-4">
    This is where I write about some things I've been working on, and in general
    things that interest me.
  </p>
  <p class="pb-4">
    A <Link href="/rss.xml">RSS feed</Link> is avaliable to receive automatic updates
    for new blog posts.
  </p>
  <ul>
    {sortedPosts.map((post) => <BlogPost post={post} />)}
  </ul>
</BaseLayout>
