@tailwind base;

/* 
 * The pallete is based on these three colors:
 *
 * 80%: #040348
 * 20% (dark): #FCB001
 * 20% (light): #616E75
 *
 * (Adapted from https://colors.lol/kindliest)
 *
 * All colors are in HSL
 *
 * */

@layer base {
  :root {
    color-scheme: light;
    --theme-bg: 41deg 61% 90%;
    --theme-text: 203deg 11% 15%;
    --theme-accent: 200deg 98% 50%;
    --theme-accent2: 200deg 85% 35%;
    --theme-quote: 351deg 66% 48%;
    --theme-menu-bg: hsla(0deg 0% 98% 85%);
    --theme-code-bg: 41deg 30% 70%;
  }

  :root.dark {
    color-scheme: dark;
    --theme-bg: 160deg 6% 18%;
    --theme-text: 220deg 3% 79%;
    --theme-accent: 42deg 99% 50%;
    --theme-accent2: 42deg 60% 50%;
    --theme-quote: 220deg 70% 80%;
    --theme-menu-bg: hsla(160deg 10% 12% 75%);
    --theme-code-bg: 260deg 10% 30%;
  }

  @media (prefers-color-scheme: dark) {
    :root.no-js {
      color-scheme: dark;
      --theme-bg: 160deg 6% 18%;
      --theme-text: 220deg 3% 79%;
      --theme-accent: 42deg 99% 50%;
      --theme-accent2: 42deg 60% 50%;
      --theme-quote: 220deg 70% 80%;
      --theme-menu-bg: hsla(160deg 10% 12% 75%);
      --theme-code-bg: 260deg 10% 30%;
    }
  }

  html {
    @apply h-full scroll-smooth border-t-2 border-accent;
  }

  html body {
    @apply mx-auto flex h-full max-w-3xl flex-col bg-bgColor px-8 pt-16 font-mono text-base font-normal text-textColor antialiased;
  }
}

@tailwind components;
@tailwind utilities;

@layer components {
  .article-prose {
    @apply prose prose-capucho mt-12
    prose-headings:ms-2 prose-headings:font-semibold
    prose-a:border-b prose-a:border-accent2 prose-a:text-accent hover:prose-a:bg-accent2/50
    prose-blockquote:border-l-4 prose-blockquote:border-quoteColor
    prose-code:rounded prose-code:p-1 prose-code:!text-textColor
    prose-th:before:content-none;
  }
}

.autolink-header {
  @apply absolute -ms-6 font-semibold text-accent;
}
