---
import Link from "@/components/Link.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="404">
  <article class="text-lg">
    <h1 class="text-xl">404 - Page Not Found</h1>
    <br />
    <p>
      This shouldn't happen, if a link in this site redirected to here please
      contact me so that I can fix it.
    </p>
    <br />
    <Link href="/">&lt;- Return to homepage</Link>
  </article>
</Layout>
