---
export interface Props {
  image: {
    src: string;
    alt: string;
    attribution?: string | undefined;
  };
}

const { src, alt, attribution } = Astro.props.image;
---

<img src={src} alt={alt} />
{attribution && <p>{attribution}</p>}
