---
import Header from "@/components/Header.astro";
import CustomHead from "@/components/Head.astro";
import SkipLink from "@/components/SkipLink.astro";
import Footer from "@/components/Footer.astro";
import { config, themeStorageKey } from "@/config";
import type { ArticleMetadata } from "@/utils";

import "@/styles/global.css";

export interface Props {
  title: string;
  description?: string;
  article?: ArticleMetadata;
  children: any;
}

const { title, description, article } = Astro.props;
---

<!DOCTYPE html>
<html class="no-js" lang={article ? article.language : config.locale}>
  <head>
    <CustomHead title={title} description={description} article={article} />
  </head>
  <body>
    <noscript>
      <div
        class="mx-auto mb-8 rounded-sm bg-red-700 p-4 text-center text-zinc-100"
      >
        <h1 class="text-center font-bold">
          You seem to have disabled javascript support in your browser
        </h1>
        <p>
          This website should still function as normal minus the interactive
          bits.
        </p>
        <br />
        <p>
          If you find any content that cannot be viewed without scripting and
          you think should still be viewable please contact me.
        </p>
      </div>
    </noscript>
    <!-- Dark/Light mode bootstrap script -->
    <script is:inline define:vars={{ themeStorageKey }}>
      document.documentElement.classList.remove("no-js");
      let theme = "dark";

      if (
        typeof localStorage !== "undefined" &&
        localStorage.getItem(themeStorageKey)
      ) {
        theme = localStorage.getItem(themeStorageKey);
      } else {
        theme =
          window.matchMedia("(prefers-color-scheme: dark)").matches !== null
            ? "dark"
            : "light";
      }

      document.documentElement.classList.toggle("dark", theme === "dark");
    </script>
    <SkipLink />
    <Header />
    <main id="main" class="flex-1">
      <slot />
    </main>
    <Footer />
  </body>
</html>
